<!-- Create a simple HTML template that displays a list of users -->
<!DOCTYPE html>
<html>
<head>
    <title>Users List</title>
</head>
<body>
    <h1>Users</h1>
    <table border="1" cellpadding="10">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Username</th>
                <th>Email</th>
                <th>City</th>
                <th>Website</th>
                <th>Company</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.address.city }}</td>
                <td>{{ user.website }}</td>
                <td>{{ user.company.name }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>